<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>JD</title>
    <style>
        #main{
            width: 600px;
            height:1000px;
            float: left;
        }
        #zh{
            width: 600px;
            height:800px;
            float: right;
        }
    </style>
    <!--引入echarts-->
    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts-en.common.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo"></div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item" ><a href="/homePage">京东</a></li>
                <li class="layui-nav-item"><a href="/">返回首页</a></li>
            </ul>
        </div>
    </div>
</head>
<div id="ss" style="width: 50px;height:50px;">
    <a href="/download" class="layui-btn">下载</a>
</div>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<script type="text/javascript">
</script>
<div>
    <div id="main"> </div>
    <div id="zh"></div>
</div>
<div >
    <img src="/img/jd.jpg" width=1600px height=800px>
</div>
<script type="text/javascript" >
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    var re = ${pillars}
    var aa = []
    for (var i = 0; i < re.length; i++) {
        aa.push(re[i].name)
    }
    option = {
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            x: 'left',
            data:aa
        },
        series: [
            {
                name:'访问来源',
                type:'pie',
                radius: ['50%', '70%'],
                x:-500,
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data:  re
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>


<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('zh'));

    var re = ${pillars}
    var aname = []
    var cout = []
    for (var i = 0; i < re.length; i++) {
        aname.push(re[i].name)
        cout.push(re[i].value)
    }
    // console.log(aname)
    option = {
        grid: {
            left: '8%',
            right: '0',
            bottom: '1%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            axisLabel: {
                show: true,
                // interval: 'auto',
                interval:0,
                rotate:"45"
            },
            data: aname
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            type: 'bar',
            name : cout,
            barWidth : '60%',
            itemStyle : {
                normal : {
                    label: {
                        show: true,
                        position: 'top',
                        textStyle: {
                            color: 'white'
                        }
                    }
                }
             },
            data: cout,

        }]
    };
    myChart.setOption(option);
</script>

</body>
</html>